### Web Scraping - European Countries

In [15]:
import requests
from bs4 import BeautifulSoup
import lxml.html as lh
import pandas as pd
import re 

def get_country():
    url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'
    html = requests.get(url).content
    soup = BeautifulSoup(html, 'lxml')
    table = soup.find('table')
    return table

In [18]:
def countries_all(table):
    countries = []
    
    rows = table.find_all('tr')
    
    for tr in rows:
        cols = tr.find_all('td')
        for td in cols:
            countries.append(td.text)
            
    countries_list = [i.replace('\n', '').replace('(','').replace(')','') for i in countries]
    two_cols = [countries_list[i:i+2] for i in range(0, len(countries_list), 2)]
    countries_df = pd.DataFrame(two_cols)
    
    return countries_df

In [19]:
countries_all(table)

              0   1
0       Belgium  BE
1        Greece  EL
2     Lithuania  LT
3      Portugal  PT
4      Bulgaria  BG
5         Spain  ES
6    Luxembourg  LU
7       Romania  RO
8       Czechia  CZ
9        France  FR
10      Hungary  HU
11     Slovenia  SI
12      Denmark  DK
13      Croatia  HR
14        Malta  MT
15     Slovakia  SK
16      Germany  DE
17        Italy  IT
18  Netherlands  NL
19      Finland  FI
20      Estonia  EE
21       Cyprus  CY
22      Austria  AT
23       Sweden  SE
24      Ireland  IE
25       Latvia  LV
26       Poland  PL